/*mis stilos sass*/

@import 'mystyles/colors';

/*Fondo*/
.bg-color-azul-oscuro{background:$azul_oscuro;}
.bg-color-azul{background:$azul;}
.bg-color-azul-claro{background:$azul_claro;}

.bg-color-verde{background:$verde;}


/*Textos*/
.text-color-white{color:$white;}

/*leaderboard*/
#leaderboard{
	background:$azul_oscuro;
	.regions{
		background-color:transparent;
	}
}

/*Header*/
#masthead{background:$azul;padding-top: 20px;height:100px;}

#navbar{background-color:$white;color:$azul_oscuro;height: 40px;padding-top: 8px;}