{#
/**
 * Layout provider: page-layout
 * Template suggestion: page__front
 * Theme: theme_lfmc
 * Generated on: Mon, 16 Apr 18 17:55:11 -0500
 */
#}
{{ attach_library('theme_lfmc/theme_lfmc.layout.page__front') }}
<div{{ attributes }}>
  {{ rows }}
  {{ attribution }}
</div>
